name: Test upload file without zip

on:
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        
      - name: Find files
        run: |
          ls -ltra

      - name: Upload results
        uses: actions/upload-artifact@v7
        with:
          name: test-xlsx-file
          path: main-template.xlsx
          archive: false
